.containerPerfil {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);

}
.header {
    grid-column: 1 / 3;
    grid-row: 1/3;
    background-color: aquamarine;
}
.picture {
    display: flex;
    align-items: flex-end;
    height:100%;
    gap: 10px;
}
.picture img {
    width:120px;
}
.suggestions {
    background-color: aqua;
     grid-column: 3;
     grid-row: 1/7;
}
.perfilInfo{
    background-color: cadetblue;
    grid-column: 1/3;
    grid-row: 3/7;
    display: flex;
    gap: 10px;
}
.about {
    background-color: bisque;
    flex-grow: 1;
}
.info {
    flex-grow: 2;
}