.message{
    width:100%;
    display:flex;
    flex-direction:column;
    text-align: center;
}
.messageTop{
    display:flex;
}
.message .messageBottom {
    text-align: left;
}
.messageImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit:cover;
    margin-right: 10px;
    margin-top:1px;
}
.messageText{
    padding: 6px 10px;
    border-radius: 20px;
    background-color: rgb(149, 190, 86);
    max-width: 300px;
}
.messageBottom{
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 20px;
}
.messageOwn{
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: flex-end;
    text-align: center;
}

.messageOwn .messageText{
    background-color: aqua;
    margin-right: 10px;
    
}
.messageOwn .messageTop {
    flex-direction: row-reverse;
    justify-content: center;
    align-items:center;
}