.announces {
  display: flex;
  align-items: center;
  width: 20vw;
  height: calc(100vh - 8vh);
  position: sticky;
  top: 8vh;
  border-left: 1px solid #222;
  color: #000;
  flex-direction: column;
  padding-top: 5px;
  overflow-y: hidden;
  background-color: #1c5d99;
  color: #fff;
}

.announces > h2 {
  margin: 0px;
}
