.containerHome {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.containerActions {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: row;
}
.filters {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 10px;
  background-color: #1C5D99;
  overflow-y: auto;
}
.infoPost {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
  flex-wrap: nowrap;
  width: 80%;
  height: 90vh;
}

.image img {
  border-radius: 50%;
  margin: 5px;
}
.image> p {
  color: #ffffff;
}

.columnPost {
  display: flex;
  flex-direction: column;
  margin-right: 55px;
  width:65%;
  height: 90vh;
  overflow-y: auto;
}
.columnPost .cardPost {
  margin: 5px;
  padding: 5px;
}
.columnInfoRight {
  display: flex;
  flex-direction: column;
  margin-right: 15px;

  width: 27%;
  overflow-x:hidden;
}

.companyName {
  color: #1C5D99;
  cursor: pointer;
}

.Button{
  background-color: #1C5D99;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  padding: 7px 10px 7px 10px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: all 300ms;
}

.Button:hover {
    color: #222222;
    background-color: #FFFFFF;
    border: 1px solid #222222;
  }