.containerHome {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.containerActions {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.filters {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 10px;
  background-color: #1C5D99;
  overflow-y: auto;
}
.infoPost {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
  flex-wrap: nowrap;
  width: 80%;
  height: 100%;
}

.image img {
  border-radius: 50%;
  margin: 5px;
}
.image> p {
  color: #ffffff;
}

.columnPost {
  display: flex;
  flex-direction: column;
  width:100%;
  height: 100%;
}
.columnPost .cardPost {
  margin: 5px;
  padding: 5px;
}
.columnInfoRight {
  display: flex;
  flex-direction: column;
  width:30%;
  overflow-y: auto;
}

.companyName {
  color: #1C5D99;
  cursor: pointer;
}
