.containerHome {
    width: 100%;
    height: 100vh;
}
.containerActions {
    width: 100%;
    height: cal(100% - 60px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.filters {
    padding: 10px;
}
.infoPost {
    grid-column: 2/5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.infoPost .image {
    grid-column: 1/4;
    background-color: aqua;
}
.image img {
    border-radius: 50%;
    margin: 5px;
}

.columnPost {
    max-height: calc(100vh - 180px);
    grid-column: 1/4;
    grid-row: 2;
    overflow-y: scroll;
    background-color: aquamarine;
    padding: 10px;
}
.columnPost .cardPost {
    margin: 5px;
    padding: 5px;
}
.columnInfoRight {
    grid-column: 4;
    grid-row: auto;
    background-color: blanchedalmond;
}

.accordion-body {
    padding: 5px;
    background-color:aqua;
}