.containerCompany {
    width: 100%;
    margin: 0;
    padding: 0;
    background: rgb(187,205,229);
    background: linear-gradient(90deg, rgba(187,205,229,1) 0%, rgba(255,255,255,1) 50%, rgba(187,205,229,1) 100%);
}
.containerInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: calc(100vh - 8vh);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cardPost {
    cursor: pointer;
}
.infoCompany {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    height: 100%;
    background-color: #1c5d99;
}
.infoPost {
    display: flex;
    flex-direction: column;
    align-self: start;
    flex-grow: 3;

}

.infoPost h2 {
    text-align: center;
}

.info {
    display:flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
}

.info li {
    list-style: none;
    padding: 5px;
    border: 1px solid;
    border-radius: 10px;
    font-weight: 500;
    background-color: #1c5d99;
}
.imageCompany {
    width: 250px;
    height: 150px;
}
.imageCompany img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.containerFormPost {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    top: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

}
.buttonCancel {
    position: fixed;
    z-index: 4;
    top: 20px;
    right:20px;
}
.containerList {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    top: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.form {
    width: 60%;
    height: 80%;
    display: flex;
    background-color: #4a8dca;
    padding: 20px;
}
.form  div {
    flex-grow: 1;
    
}
.form .inputForm {
    width: 60%;
    margin-bottom: 10px;
}
.form select {
    margin: 10px;
}
.buttonRadio {
    display: flex;
    align-items: center;
}
.buttonSubmit {
    position: absolute;
    top: 55px;
    right: 100px;
}
.buttonReset {
    position: absolute;
    top: 55px;
    right: 200px;
}
.infoCard {
    display: flex;
    justify-content: space-around;
}
.cardPostulate {
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

.cardPostulate a {
    text-decoration: none;
    color: azure;
}
.cardPostulate a:hover {
    color:rgb(219, 97, 97);
}
.spanName:hover {
    cursor:pointer;
    transform: scale(1.1);
    color: blue;
}