.containerCompany {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerInfo {
    width:100%;
    height: calc(100vh - 80px);
    display: flex;
    padding: 10px;
    gap: 10px;
}
.cardPost {
    cursor: pointer;
}
.infoCompany {
    flex-grow: 2;
}
.infoPost {
    flex-grow: 3;
    max-height:80%;
}

.info {
    display:flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
}

.info  li {
    list-style: none;
    padding: 5px;
    border: 1px solid;
    border-radius: 10px;
    font-weight: 500;
    background-color: cadetblue;

}
.imageCompany {
    width: 100%;
    height: 150px;
}
.imageCompany img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.containerFormPost {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    top: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

}
.buttonCancel {
    position: fixed;
    z-index: 4;
    top: 20px;
    right:20px;
}
.containerList {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    top: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.form {
    width: 60%;
    height: 80%;
    display: flex;
    background-color: rgba(127, 255, 212, 0.647);
    padding: 20px;
}
.form  div {
    flex-grow: 1;
    
}
.form .inputForm {
    width: 60%;
    margin-bottom: 10px;
}
.form select {
    margin: 10px;
}
.buttonRadio {
    display: flex;
    align-items: center;
}
.buttonSubmit {
    position: absolute;
    top: 20px;
    right: 120px;
}
.buttonReset {
    position: absolute;
    top: 20px;
    right: 220px;
}
.infoCard {
    display: flex;
    justify-content: space-around;
}
.cardPostulate {
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

.cardPostulate a {
    text-decoration: none;
    color: azure;
}
.cardPostulate a:hover {
    color:rgb(219, 97, 97);
}
.spanName:hover {
    cursor:pointer;
    transform: scale(1.1);
    color: blue;
}