.Button{
    background-color: #f5f5f5;
    border: none;
    color: #000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.Products{
    background-color: grey;
    width: 20%;
    margin: 25px;
}

.Contenedor{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    text-align: center;
    justify-items: center;
}