.announces {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 25%;
  height: calc(100vh - 8vh);
  position: sticky;
  flex-direction: column;
  overflow-y: auto;
  background-color: #1c5d99;
  color: #fff;

}

.announces > h2 {
  margin: 0px;
}
