.containerRegisterUser {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0;
}
.containerCard {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: normal 1s showRegister linear;
  position: absolute;
}

@keyframes showRegister {
  0% {
    opacity: 0;
    transform: translate(50px);
  }
  50% {
    opacity: 0.5;
    transform: translate(20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.containeForm input {
  width: 80%;
  padding: 5px;
}

.containerTechnologies {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  padding: 10px;
  margin-top: 10px;
}
.containerTechnologies ul {
  max-height: 100px;
  overflow-y: scroll;
  list-style-type: none;
}

.containerTechnologies li {
  border-radius: 5px;
}

.containerTechnologies li:hover {
  background-color: rgba(247, 75, 75, 0.411);
  cursor: pointer;
}
.containerCheck {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.danger {
  color: red;
}

.Form-control {
  display: flex;
  border-radius: 0px;
}
