.containerRegisterUser {
  position: absolute;
  width: 100%;
  height: calc(100vh - 100px) ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0;
}
.containeForm h1{
  font-size: 38px;
  word-spacing: -5px;
  letter-spacing: -2px;
  font-weight: bolder;
}
.containerCard {
  margin-bottom: 0px;
  padding: 2px;
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: normal 1s showRegister linear;
  position: absolute;
  background-color: #ffffff;
}

@keyframes showRegister {
  0% {
    opacity: 0;
    transform: translate(50px);
  }
  50% {
    opacity: 0.5;
    transform: translate(20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.containeForm{
  display: flex;
  flex-direction: column;
  width: 80%;
  overflow-y: auto;
}

.containeForm input, textarea {
  width: 70%;
  padding: 2px;
  margin-left: 5px;
}

.containerTechnologies {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 50px;
  margin-top: 10px;
}
.containerTechnologies ul {
  max-height: 100px;
  overflow-y: scroll;
  list-style-type: none;
  padding: 0px;
}

.containerTechnologies li {
  border-radius: 5px;
}

.containerTechnologies li:hover {
  background-color: rgba(247, 75, 75, 0.411);
  cursor: pointer;
}

.containerCheck{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
}
.employ{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.employ input{
  width: 15px;
}

.employ input:last-child{
  width: 222px;
  margin-bottom: 15px;
}

.danger {
  color: red;
}

.Form-control {
  display: flex;
  border-radius: 0px;
}

  